/* Lavender color #c6abdf */
/* Magenta color #cf3482 */
/* Navy color #081e36 */


* {
  font-family: Open Sans, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* game board */
.game-board {
  display: flex;
  padding: 10px 25px;
  }

.category {
  list-style-type: none;
  margin: auto;
  width: 25%;
}

li {
  border: 1px solid black;
  height: 100px;
  text-align: center;
  font-size: 1.5rem;
}

.player-podiums {
  display: flex;
}

.player-one-podium, 
.player-two-podium, 
.player-three-podium {
  padding: 15px;
}