* {
  font-family: Open Sans, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* login page */
.main-page {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.login-page {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 12% 0% 14% 0%;
}

.main-logo {
  height: 300px;
  width: 550px;
}

.player-form {
  display: flex;
  justify-content: center;
}

.inputs {
  border-radius: 15px;
  font-size: 20px;
  height: 28px;
  margin: 10px;
  padding: 8px 10px;
}

.buttons {
  background-image: linear-gradient(#c6abdf, #cf3482);
  border-radius: 15px; 
  font-size: 20px;
  font-weight: 600;
  height: 45px;
  margin: 10px;
  padding: 8px 10px;
  transition: all 500ms ease;
  width: 160px;
}

.buttons:hover {
  cursor: pointer;
  height: 50px;
  width: 170px;
}

/* game board */
.gameboard-logo {
  width: 600px;
}

.round {
  color: #081e36;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.5px;
}

.game-board {
  display: flex;
  padding: 10px 25px;
}

.category {
  list-style-type: none;
  margin: auto;
  width: 25%;
}

.categories {
  font-size: 1.25rem;
  font-weight: 500;
}

.category-1 {
  border-radius: 5px 0px 0px 0px;
}

.category-4 {
  border-radius: 0px 5px 0px 0px;
}

.li-4 {
  border-radius: 0px 0px 0px 5px;
}

.li-16 {
  border-radius: 0px 0px 5px 0px;
}

li {
  background-color: #081e36;    
  border-style: outset;
  border: 3px solid #4a355e;
  color: #c6abdf;
  font-size: 1.6rem;
  height: 90px;
  line-height: 85px;
  text-align: center;
  width: 235px;
}

.scores {
  background-color: #0c2743;
  font-weight: 600;
  letter-spacing: 6px;
  transition: all 500ms ease;
}

.scores:hover {
  color: #cf3482;
  cursor: pointer;
  font-weight: 800;
}

/* player podiums */
h3 {
  color: #081e36;
  font-family: 'Caveat', cursive;
  font-size: 32px;
  text-align: center;
}

h4 {
  color: #081e36;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
}

.player-podiums {
  display: flex;
}

.podium {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 131px;
  padding: 15px;
  width: 172px;
}

.podium-background {
  background-color: #c6abdf;
  background-image: linear-gradient(#c6abdf, #614976);
  border-bottom: none;
  border-radius: 25px 25px 4px 4px;
  border: 8px #c6abdf solid;
  margin-top: 85px;
  padding: 10px;
}

.player-one-podium {
  background-image: url(assets/lollipop1.jpg);
}

.player-two-podium {
  background-image: url(assets/lollipop2.jpg);
}

.player-three-podium {
  background-image: url(assets/lollipop3.jpg);
}

/* daily double card */
.js-daily-double-popup,
.card-popup {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border: 10px solid #cf3482;
  display: flex;
  flex-direction: column;
  height: 173px;
  left: 50%;
  margin-left:-481px;
  padding: 100px;
  position: absolute;
  top: 27%;
  width: 743px;
  z-index: -1;
}

.js-daily-double-popup{
  background-color: #c6abdf;
}

.daily-double-title {
  text-align: center;
}

.wager-description {
  font-size: 22px;
}

/* clue card */
.pop-question {
  padding-bottom: 50px;
}


.podium-border {
  border: 8px #cf3482 solid;
}