/* Lavender color #c6abdf */
/* Magenta color #cf3482 */
/* Navy color #081e36 */


* {
  font-family: Open Sans, sans-serif;
  margin: 0px;
  padding: 0px;
}


/* login page */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page {
  background-color: #fff;
}

.main-logo {
  height: 300px;
  margin: 80px 200px;
}

.player-form {
  display: flex;
  justify-content: center;
}

.p1-name-input,
.p2-name-input,
.p3-name-input {
  margin: 10px;
}

/* game board */
.gameboard-logo {
  width: 700px;
}

.game-board {
  display: flex;
  padding: 10px 25px;
  }

.category {
  list-style-type: none;
  margin: auto;
  width: 25%;
}

.category-1 {
  border-radius: 5px 0px 0px 0px;
}

.category-4 {
  border-radius: 0px 5px 0px 0px;
}

.li-4 {
  border-radius: 0px 0px 0px 5px;
}

.li-16 {
  border-radius: 0px 0px 5px 0px;
}

li {
  border: 1px solid #4a355e;
  height: 100px;
  text-align: center;
  font-size: 1.5rem;
  width: 200px;
  background-color: #081e36;    
  color: #c6abdf;
}

h3 {
  font-family: 'Caveat', cursive;
}

.player-podiums {
  display: flex;
}

.podium {
  padding: 15px;
  height: 131px;
  width: 172px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.podium-background {
  background-color: #c6abdf;
  margin-top: 85px;
}

.player-one-podium {
  background-image: url(assets/lollipop1.jpg);
 
}

.player-two-podium {
  background-image: url(assets/lollipop2.jpg);
}

.player-three-podium {
  background-image: url(assets/lollipop3.jpg);
}

.card-popup {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 40%;
}